* {
    box-sizing: border-box;
}

html,
body,
#app {
    height: 100vh;
}

body {
    font-family: var(--base-font);

    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-track {
        border-radius: 10px;
        background: rgba(0, 0, 0, 0.1);
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: rgba(0, 0, 0, 0.2);
    }
}

.visually-hidden {
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    padding: 0;
    border: 0;
    margin: -1px;
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    white-space: nowrap;
}

// Middle screen anchor
.anchor {
    position: absolute;
    top: 50%;
    transform: translate(0, calc(-50% - 50vh));
}
